snippet debugger
	#ifndef DEBUG_TEMPLATE_CPP
	#define DEBUG_TEMPLATE_CPP
	#include <bits/stdc++.h>
	// #define cerr cout
	namespace __DEBUG_UTIL__ {
	using namespace std;
	template <typename T>
	concept is_iterable =
	    requires(T &&x) { begin(x); } && !is_same_v<remove_cvref_t<T>, string>;
	void print(const char *x) { cerr << x; }
	void print(char x) { cerr << "\'" << x << "\'"; }
	void print(bool x) { cerr << (x ? "T" : "F"); }
	void print(string x) { cerr << "\"" << x << "\""; }
	void print(vector<bool> &v) { /* Overloaded this because stl optimizes
	                                 vector<bool> by using _Bit_reference instead of
	                                 bool to conserve space. */
	  int f = 0;
	  cerr << '{';
	  for (auto &&i : v)
	    cerr << (f++ ? "," : "") << (i ? "T" : "F");
	  cerr << "}";
	}
	template <typename T> void print(T &&x) {
	  if constexpr (is_iterable<T>)
	    if (size(x) &&
	        is_iterable<decltype(*(begin(x)))>) { /* Iterable inside Iterable */
	      int f = 0;
	      cerr << "\n~~~~~\n";
	      for (auto &&i : x) {
	        cerr << setw(2) << left << f++, print(i), cerr << "\n";
	      }
	      cerr << "~~~~~\n";
	    } else { /* Normal Iterable */
	      int f = 0;
	      cerr << "{";
	      for (auto &&i : x)
	        cerr << (f++ ? "," : ""), print(i);
	      cerr << "}";
	    }
	  else if constexpr (requires {
	                       x.pop();
	                     }) /* Stacks, Priority Queues, Queues */
	  {
	    auto temp = x;
	    int f = 0;
	    cerr << "{";
	    if constexpr (requires { x.top(); })
	      while (!temp.empty())
	        cerr << (f++ ? "," : ""), print(temp.top()), temp.pop();
	    else
	      while (!temp.empty())
	        cerr << (f++ ? "," : ""), print(temp.front()), temp.pop();
	    cerr << "}";
	  } else if constexpr (requires {
	                         x.first;
	                         x.second;
	                       }) /* Pair */
	  {
	    cerr << '(', print(x.first), cerr << ',', print(x.second), cerr << ')';
	  } else if constexpr (requires { get<0>(x); }) /* Tuple */
	  {
	    int f = 0;
	    cerr << '(', apply(
	                     [&f](auto... args) {
	                       ((cerr << (f++ ? "," : ""), print(args)), ...);
	                     },
	                     x);
	    cerr << ')';
	  } else
	    cerr << x;
	}
	template <typename T, typename... V>
	void printer(const char *names, T &&head, V &&...tail) {
	  int i = 0;
	  for (size_t bracket = 0;
	       names[i] != '\0' and (names[i] != ',' or bracket != 0); i++)
	    if (names[i] == '(' or names[i] == '<' or names[i] == '{')
	      bracket++;
	    else if (names[i] == ')' or names[i] == '>' or names[i] == '}')
	      bracket--;
	  cerr.write(names, i) << " = ";
	  print(head);
	  if constexpr (sizeof...(tail))
	    cerr << " ||", printer(names + i + 1, tail...);
	  else
	    cerr << "]\n";
	}
	template <typename T, typename... V>
	void printerArr(const char *names, T arr[], size_t N, V... tail) {
	  size_t i = 0;
	  for (; names[i] and names[i] != ','; i++)
	    cerr << names[i];
	  for (i++; names[i] and names[i] != ','; i++)
	    ;
	  cerr << " = {";
	  for (size_t ind = 0; ind < N; ind++)
	    cerr << (ind ? "," : ""), print(arr[ind]);
	  cerr << "}";
	  if constexpr (sizeof...(tail))
	    cerr << " ||", printerArr(names + i + 1, tail...);
	  else
	    cerr << "]\n";
	}
	
	} // namespace __DEBUG_UTIL__
	#ifndef ONLINE_JUDGE
	#define debug(...)                                                             \
	  std::cerr << __LINE__ << ": [",                                              \
	      __DEBUG_UTIL__::printer(#__VA_ARGS__, __VA_ARGS__)
	#define debugArr(...)                                                          \
	  std::cerr << __LINE__ << ": [",                                              \
	      __DEBUG_UTIL__::printerArr(#__VA_ARGS__, __VA_ARGS__)
	#else
	#define debug(...)
	#define debugArr(...)
	#endif
	#endif
	
snippet DSU
    class DSU {
        
        public:
          vector<int> par, sz;
          DSU(int n) : par(n), sz(n, 1) { 
            iota(par.begin(), par.end(), 0);
          }
        
          int find(int x) { return par[x] == x ? x : (par[x] = find(par[x])); }
        
          bool unite(int x, int y) {
            int root_x = find(x), root_y = find(y);
            if (root_x == root_y)
              return 0;
        
            if (sz[root_x] < sz[root_y])
              swap(root_x, root_y);
        
            sz[root_x] += sz[root_y];
            par[root_y] = root_x;
            return 1;
          }
        
          bool sameSet(int x, int y) { return find(x) == find(y); }
        
          int size(int x) { return sz[find(x)]; }
    };

snippet phoenix
    
    
                                         // ॐ
    
    
    #include <bits/stdc++.h>
    
    using namespace std;
    
    /* DEBUGGER */
    #ifndef ONLINE_JUDGE
    #include "debugger.h"
    #else
    #define debug(x...)
    #define debugArr(arr, n)
    #endif
    
    /* TYPES */
    #define ff first
    #define ss second
    #define ll long long 
    #define ldb long double
    #define pii pair<int, int>
    #define pll pair<long long, long long>
    #define vi vector<int>
    #define V vector
    #define vll vector<long long>
    #define mii map<int, int>
    #define si set<int>
    
    /* PB-DS */

    //#include <ext/pb_ds/assoc_container.hpp>
    //#include <ext/pb_ds/tree_policy.hpp>
    //
    //using namespace __gnu_pbds;
    //template <typename T>
    //using oset = tree<T, null_type, less<T>, rb_tree_tag, tree_order_statistics_node_update>;
    
    /* FUNCTIONS */
    #define f(i,s,e) for(ll  i=s;i<e;i++)
    #define rf(i,e,s) for(ll  i=e-1;i>=s;i--)
    #define all(v) v.begin(),v.end()
    #define rall(v) v.rbegin(),v.rend()
    #define pb push_back
    #define eb emplace_back
    
    /* UTILS */
    #define MOD 1000000007
    #define PI 3.1415926535897932384626433832795
    inline ll fact(int n) { ll result = 1; for (int i = 1; i <= n; ++i) result = ((result)*(i)); return result; }
    // inline ll gcd(ll a,ll b) { if (b==0) return a; return gcd(b, a%b); }
    inline bool prime(ll a) { if (a==1) return 0; for (int i=2;i<=round(sqrt(a));++i) if (a%i==0) return 0; return 1; }
    inline void yes() { cout<<"YES\n"; }
    inline void no() { cout<<"NO\n"; }
    inline int numberWithLastSetBit(ll n){return (n&(~(n-1)));}
    inline ll min(ll a,ll b) { if (a<b) return a; return b; }
    inline ll max(ll a,ll b) { if (a>b) return a; return b; }
    #define int long long
    
    // ------------------------------------------------------------------------------------------------------------------------
    
    void solve(){
    
    	${1:start} 
    
    }
    
    // ------------------------------------------------------------------------------------------------------------------------
    
    signed main(){
    
      #ifndef ONLINE_JUDGE
        freopen("ipf.in","r",stdin); 
        freopen("opf.in","w",stdout);
        freopen("error.txt", "w", stderr);
      #endif
    
      ios_base::sync_with_stdio(false); 
      cin.tie(NULL);
      
      int t = 1;
      cin>>t; 
      while(t--){
        cerr<<t<<" --- "<<endl;
        solve();
      }
    
      return 0; 
    }

snippet MOD_INT
  namespace mint_ns {
  template<auto P>
  struct Modular {
      using value_type = decltype(P);
      value_type value;
   
      Modular(long long k = 0) : value(norm(k)) {}
   
      friend Modular<P>& operator += (      Modular<P>& n, const Modular<P>& m) { n.value += m.value; if (n.value >= P) n.value -= P; return n; }
      friend Modular<P>  operator +  (const Modular<P>& n, const Modular<P>& m) { Modular<P> r = n; return r += m; }
   
      friend Modular<P>& operator -= (      Modular<P>& n, const Modular<P>& m) { n.value -= m.value; if (n.value < 0)  n.value += P; return n; }
      friend Modular<P>  operator -  (const Modular<P>& n, const Modular<P>& m) { Modular<P> r = n; return r -= m; }
      friend Modular<P>  operator -  (const Modular<P>& n)                      { return Modular<P>(-n.value); }
   
      friend Modular<P>& operator *= (      Modular<P>& n, const Modular<P>& m) { n.value = n.value * 1ll * m.value % P; return n; }
      friend Modular<P>  operator *  (const Modular<P>& n, const Modular<P>& m) { Modular<P> r = n; return r *= m; }
   
      friend Modular<P>& operator /= (      Modular<P>& n, const Modular<P>& m) { return n *= m.inv(); }
      friend Modular<P>  operator /  (const Modular<P>& n, const Modular<P>& m) { Modular<P> r = n; return r /= m; }
   
      Modular<P>& operator ++ (   ) { return *this += 1; }
      Modular<P>& operator -- (   ) { return *this -= 1; }
      Modular<P>  operator ++ (int32_t) { Modular<P> r = *this; *this += 1; return r; }
      Modular<P>  operator -- (int32_t) { Modular<P> r = *this; *this -= 1; return r; }
   
      friend bool operator == (const Modular<P>& n, const Modular<P>& m) { return n.value == m.value; }
      friend bool operator != (const Modular<P>& n, const Modular<P>& m) { return n.value != m.value; }
   
      explicit    operator   int32_t() const { return value; }
      explicit    operator      bool() const { return value; }
      explicit    operator long long() const { return value; }
   
      constexpr static value_type mod()      { return     P; }
   
      value_type norm(long long k) {
          if (!(-P <= k && k < P)) k %= P;
          if (k < 0) k += P;
          return k;
      }
   
      Modular<P> inv() const {
          value_type a = value, b = P, x = 0, y = 1;
          while (a != 0) { value_type k = b / a; b -= k * a; x -= k * y; swap(a, b); swap(x, y); }
          return Modular<P>(x);
      }
   
      friend void __print(Modular<P> v) {
          cerr << v.value;
      }
  };
  template<auto P> Modular<P> pow(Modular<P> m, long long p) {
      Modular<P> r(1);
      while (p) {
          if (p & 1) r *= m;
          m *= m;
          p >>= 1;
      }
      return r;
  }
   
  template<auto P> ostream& operator << (ostream& o, const Modular<P>& m) { return o << m.value; }
  template<auto P> istream& operator >> (istream& i,       Modular<P>& m) { long long k; i >> k; m.value = m.norm(k); return i; }
  template<auto P> string   to_string(const Modular<P>& m) { return to_string(m.value); }
   
  }
  constexpr int mod = (int)1e9 + 7;
  using mint = mint_ns::Modular<mod>;
